/** @format */

.logo {
  position: absolute;
  left: 287px;
  display: flex;
  width: -webkit-fill-available;
  top: 15px;
  font-size: 28px;
  font-weight: 600;
  color: hsla(0, 0%, 17%, 1);
  font-family: "Inter";
}

.logo > img,
.logo > svg {
  display: none;
}

.navbar {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 60px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.profiledropdown {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.overlaydropdown {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

/* .notification {
  width: 24px;
} */

.notificationdropdown {
  background-color: white;
  position: absolute;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  top: 70px;
  right: 40px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.notificationdropdown::before {
  content: "";
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-color: white;
  position: relative;
  top: -8px;
  left: 210px;
}

.profileedit {
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  top: 70px;
  right: 20px;
}

.profileedit > button {
  padding: 24px 16px;
  background-color: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  border: 0;
  color: hsla(180, 23%, 15%, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileedit::before {
  content: "";
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-color: white;
  position: relative;
  top: -8px;
  left: 133px;
}

.imagename {
  display: grid;
  place-items: center;
  gap: 24px;
}

.imagename img {
  width: 64px;
  height: 64px;
  border-radius: 60px;
}

.namebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.namebutton > button {
  padding: 8px 64px;
  border-radius: 32px;
  border: 1.2px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  color: hsla(180, 23%, 15%, 1);
  cursor: pointer;
}

.namebutton > button:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.spanname {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ronaldname {
  font-size: 80%;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.email {
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.linehr {
  border: 4px solid hsla(180, 17%, 98%, 1);
  margin: 0;
  width: 350px;
}

.linehr1 {
  border: 4px solid hsla(180, 17%, 98%, 1);
  margin: 0;
}

.arrow {
  width: 20px;
  margin-right: 5px;
}

.arrow.open {
  transition: 0.4s;
}

.mobilenav {
  display: none;
}

@media only screen and (max-width: 1108px) {
  .logo {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 4px 7px hsla(0, 0%, 0%, 0.04);
    justify-content: space-between;
    left: 0;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .logo img,
  .logo svg {
    display: block;
  }

  .nav {
    display: none;
  }
  .mobilenav {
    display: block; /* Changed from 'none' */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .imageclose img {
    width: 108px;
  }

  .div {
    display: flex;
    flex-direction: column;
  }

  .notactive {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    color: hsla(0, 0%, 17%, 0.8);
  }

  .notactive span {
    cursor: pointer;
  }

  .icon {
    fill: currentColor;
  }

  .active {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter";
    color: hsla(0, 0%, 17%, 0.8);
    cursor: pointer;
  }

  .active svg {
    color: hsla(34, 94%, 54%, 1);
  }

  .sidebar {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: -600px;
    overflow-y: auto;
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    background-size: cover;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .mobilenav.visible {
    transform: translateX(0);
    right: 0;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
  }

  .fade-out {
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.9s ease-out;
  }
  hr {
    display: none;
  }
  .div {
    margin-top: 30px;
  }

  .imageclose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
  }

  .sidebarmenu {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .logo svg,
  .logo img {
    display: none !important;
  }

  .nav {
    display: block !important;
  }
}
