/** @format */

.login {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container label {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-orange);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form div span {
  font-size: 14px;
  font-family: var(--font-inter);
  color: var(--color-text);
  font-weight: 500;
}

.form div input {
  border: 1px solid hsla(0, 0%, 75%, 1) !important;
  font-size: 16px !important;
  font-family: var(--font-inter) !important;
  font-weight: 500 !important;
  padding: 12px 24px !important;
  border-radius: 8px !important;
  height: 20px !important;
}

.form div input:focus {
  border: 1px solid var(--color-orange) !important;
}

.form button {
  padding: 12px 146px;
  font-size: 16px;
  font-weight: 600;
  background-color: hsla(293, 78%, 31%, 1);
  color: white;
  font-family: var(--font-inter);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .login {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    margin-top: 100px;
  }
  .login div label {
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}
