/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.login {
}

.login2 {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login2 > img {
  width: 80vw;
  height: 100vh;
}

.h3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.h3 img {
  width: 143px;
}

.h3 h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter";
  background-image: linear-gradient(to right, #d81b60 0%, #6b046d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: -webkit-fill-available;
  align-items: center;
}

.container label {
  font-size: 30px;
  font-weight: 600;
  font-family: "Inter";
  color: hsla(0, 0%, 9%, 1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form div span {
  font-size: 14px;
  font-family: "Inter";
  color: var(--color-text);
  font-weight: 500;
}

.input {
  border: 1px solid hsla(0, 0%, 75%, 1);
  font-size: 16px !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
  padding: 12px 24px !important;
  border-radius: 8px !important;
  height: 20px !important;
}

.input:focus {
  border: 1px solid hsla(34, 94%, 54%, 1) !important;
  outline: none;
}

.form button {
  padding: 12px 146px;
  font-size: 16px;
  font-weight: 600;
  background-color: hsla(34, 94%, 54%, 1);
  color: white;
  font-family: "Inter";
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.form button:hover {
  background-color: hsla(34, 94%, 44%, 1);
}

@media only screen and (max-width: 1108px) {
  .login {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    margin-top: 150px;
    align-items: baseline;
    padding: 0 32px;
  }

  .form {
    width: -webkit-fill-available;
  }
  .login div label {
    font-size: 20px;
    /* color: hsla(34, 94%, 54%, 1); */
  }

  .login2 {
    height: auto;
    flex-direction: column-reverse;
    gap: 70px;
  }

  .login2 > img {
    width: -webkit-fill-available;
    height: auto;
  }

  .h3 img {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}
