/** @format */

.edit {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-bottom: 80px;
}

.profile {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 21px;
}

.profile p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  color: #332f32;
  width: 23%;
  text-align: center;
}

.profile button {
  background-color: transparent;
  border: 2px solid #f89a1c;
  padding: 8px 40px;
  color: #f89a1c;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  cursor: pointer;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.image img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  /* position: absolute; */
}

.image label {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #f89a1c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin-top: -35px;
  position: relative;
  /* position: absolute; */
}

.image label svg {
  cursor: pointer;
}

.image label input {
  opacity: 0;
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name label {
  font-size: 14px;
  font-weight: 400;
  color: #625d60;
}

.name span {
  color: #4a4549;
  font-size: 16px;
  font-weight: 500;
}

.password {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.password label {
  color: #4a4549;
  font-size: 16px;
  font-weight: 500;
}

.password > button {
  background-color: transparent;
  color: #f89a1c;
  font-size: 14px;
  font-weight: 500;
  border: none;
  font-family: "Inter";
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.svg {
  rotate: 180deg;
}

/*Edit details*/

.edit_svg {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #4a4549;
  font-family: "Inter";
  cursor: pointer;
}

.input_edit {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.input_edit p {
  margin: 0;
  color: #f89a1c;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
}

.input_field {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input_field div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_field div label {
  color: #101928;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
}

.input_field div input {
  border: 1px solid #ccc4c8;
  padding: 14px 24px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  width: -webkit-fill-available;
}

.input_field div input:focus {
  outline: none;
  border: 1px solid #f89a1c;
}

.input_field div input::placeholder {
  color: #ccc4c8;
  font-size: 14px;
  font-weight: 400;
}

.input_field button {
  margin-top: 8px;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  background-color: #f89a1c;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.input_field button:disabled {
  background-color: #e5e5e5;
  color: #afafaf;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  cursor: not-allowed;
}

.toast :global(.Toastify__toast-theme--light) {
  background-color: rgba(0, 200, 81, 1) !important;
  color: white !important;
  font-family: "Inter";
}

.toast :global(.Toastify__progress-bar--animated) {
  display: none;
}

.toast :global(.Toastify__toast-icon svg) {
  fill: white;
}

.toast :global(.Toastify__close-button > svg) {
  color: white;
}

.toast :global(.Toastify__close-button--light) {
  color: white;
  opacity: 1;
}

/**Change password*/

.dropdown {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.password_label {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 90px;
  background-color: white;
  border-radius: 8px;
  padding: 59px 100px;
  align-items: end;
}

.password_label svg {
  cursor: pointer;
  display: flex;
  align-items: end;
}

.password_input {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 470px;
}

.password_input > label {
  font-size: 20px;
  font-weight: 600;
  color: #f89a1c;
  font-family: "Inter";
  text-align: center;
}

.password_div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.password_div div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Inter";
}

.password_div div label {
  font-size: 14px;
  font-weight: 500;
  color: #2b2b2b;
}

.password_div div input {
  padding: 16px;
  border: 1px solid #d0d5dd;
  font-size: 14px;
  font-weight: 500;
  color: #101928;
  border-radius: 6px;
}

.password_div div input:focus {
  outline: none;
}

.password_div div span {
  font-size: 14px;
  font-weight: 400;
  color: #de3730;
  display: flex;
  cursor: pointer;
  justify-content: end;
}

.password_div button {
  margin-top: 8px;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  background-color: #f89a1c;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.password_div button:disabled {
  background-color: #e5e5e5;
  color: #afafaf;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  cursor: not-allowed;
}
