/** @format */

.dropdown {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(248, 154, 28, 1);
}
.loader::before {
  box-shadow: -25px 0 rgba(248, 154, 28, 1);

  animation: l8-1 1s infinite linear;
}
.loader::after {
  transform: rotate(0deg) translateX(25px);
  animation: l8-2 1s infinite linear;
}

@keyframes l8-1 {
  100% {
    transform: translateX(25px);
  }
}
@keyframes l8-2 {
  100% {
    transform: rotate(-180deg) translateX(25px);
  }
}
