/** @format */

.admin {
  padding: 24px 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
}

.admin > img {
  width: 149px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 36px;
  font-weight: 700;
  color: hsla(293, 78%, 31%, 1);
  margin: 0;
  font-family: "Inter";
}

.copy {
  padding: 8px 12px;
  background-color: hsla(293, 78%, 31%, 1);
  border-radius: 8px;
  display: flex;
  align-self: center;
  gap: 10px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.table {
  border-radius: 16px;
  border: 1px solid hsla(218, 17%, 91%, 1);
}

.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-top-right-radius: 16px;
  /* width: -webkit-fill-available; */
  /* border-bottom: 3px solid hsla(218, 20%, 98%, 1); */
}

.name {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 3px solid hsla(218, 20%, 98%, 1);
  align-items: center;
}

.name img {
  justify-self: center;
}

.name > span {
  overflow-wrap: anywhere;
  /* background-color: hsla(218, 20%, 98%, 1); */
  padding: 12px 24px;
  width: -webkit-fill-available;
  font-size: 12px;
  font-weight: 500;
  color: hsla(217, 24%, 27%, 1);
}

.headerText {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.headerText > span {
  background-color: hsla(218, 20%, 98%, 1) !important;
  padding: 12px 24px;
  width: -webkit-fill-available;
  font-size: 16px;
  font-weight: 500;
  color: hsla(217, 24%, 27%, 1);
}

.firstName {
  border-top-left-radius: 16px !important;
}

.svg {
  align-items: end !important;

  color: transparent !important;
  background-color: hsla(218, 20%, 98%, 1);
  border-top-right-radius: 16px;
}

.tableRow span,
.tableRow img {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 400;
  color: hsla(217, 24%, 27%, 1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageInfo {
  padding: 24px 16px;
}

.pageInfo span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  color: hsla(219, 13%, 46%, 1);
}

.pageButtons {
  display: flex;
  align-items: center;
}

.pageButtons div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hsla(218, 15%, 65%, 1);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}
.pageButton {
  border: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  color: hsla(218, 15%, 65%, 1);
  background: white;
  cursor: pointer;
}

.pageButton:disabled {
  cursor: default;
  background: transparent;
  border: none;
}

.active {
  color: hsla(293, 78%, 31%, 1);
  background-color: hsla(293, 89%, 92%, 1);
  border-radius: 8px;
  padding: 8px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
}

.previous,
.next {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid hsla(218, 16%, 84%, 1);
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  color: hsla(217, 24%, 27%, 1);
  background-color: transparent;
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.04);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .admin {
    display: none;
  }
}
