/** @format */

.agent {
  position: absolute;
  left: 274px;
  width: -webkit-fill-available;
  top: 65px;
  background-color: hsla(0, 0%, 96%, 1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Inter";
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.delete {
  position: absolute;
  /* right: 0; */
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 160px;
}

.delete h3 {
  margin: 0;
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(43, 43, 43, 1);
}

.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.button1 {
  padding: 14px 70px;
  border-radius: 4px;
  background-color: rgba(177, 44, 26, 1);
  color: white;
  border: none;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.button2 {
  padding: 14px 70px;
  border-radius: 4px;
  border: 1px solid rgba(248, 154, 28, 1);
  color: rgba(248, 154, 28, 1);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}

.button2:hover {
  background-color: rgba(248, 154, 28, 0.1);
}

.button1:hover {
  background-color: rgba(177, 44, 26, 0.8);
}

.close {
  padding: 14px 70px;
  border-radius: 4px;
  background-color: rgba(248, 154, 28, 1);
  font-family: "Inter";
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.toast :global(.Toastify__toast-theme--light) {
  background-color: rgba(0, 200, 81, 1) !important;
  color: white !important;
  font-family: "Inter";
}

.toast :global(.Toastify__progress-bar--animated) {
  display: none;
}

.toast :global(.Toastify__toast-icon svg) {
  fill: white;
}

.toast :global(.Toastify__close-button > svg) {
  color: white;
}

.toast :global(.Toastify__close-button--light) {
  color: white;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .agent {
    left: 0;
    top: 97px;
    padding: 16px;
  }

  .delete {
    padding: 20px 40px;
  }

  .delete h3 {
    margin-bottom: 45px;
  }

  .container {
    flex-direction: column;
  }
}
