/** @format */

.transaction {
  position: absolute;
  left: 274px;
  width: -webkit-fill-available;
  top: 65px;
  background-color: hsla(0, 0%, 96%, 1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.log {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: hsla(0, 0%, 17%, 0.8);
  font-family: "Inter";
}

.div {
  display: flex;
  gap: 24px;
}

.time {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: white;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: hsla(0, 0%, 17%, 0.8);
  font-family: "Inter";
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.csv {
  background-color: hsla(34, 94%, 54%, 1);
  border: 0;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  height: fit-content;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter";
  padding: 18px;
  border-radius: 14px;
  gap: 10px;
  border: 1px solid hsla(218, 17%, 91%, 1);
}
.svg {
  color: transparent;
  /* background-color: hsla(218, 20%, 98%, 1); */
}
.name img {
  justify-self: center;
}

.userInfo span {
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 26%, 1);
}

.userInfo2 span {
  font-size: 13px;
  font-weight: 300;
  color: hsla(0, 0%, 17%, 0.8);
}

.userInfo2,
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo img,
.view {
  cursor: pointer;
}

.view {
  font-size: 14px !important;
  font-weight: 300 !important;
  color: hsla(34, 94%, 54%, 1) !important;
  display: flex;
  align-items: center;
}

.name > img {
  cursor: pointer;
}

.headerText > span {
  background-color: hsla(210, 20%, 99%, 1) !important;
  padding: 12px 24px;
  width: -webkit-fill-available;
  font-size: 12px;
  font-weight: 500;
  color: hsla(0, 0%, 17%, 0.8);
}

.svg {
  align-items: end !important;

  color: transparent !important;
  background-color: hsla(218, 20%, 98%, 1);
}

.logs {
  height: auto;
  scroll-behavior: smooth;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  gap: 16px;
}

.logs::-webkit-scrollbar {
  display: none;
}

.tableRow span,
.tableRow img {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 400;
  color: hsla(217, 24%, 27%, 1);
}

.dropdown {
  position: absolute;
  top: 35%;
  left: 50%;
  right: 85px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dropdownTime {
  position: absolute;
  top: -56%;
  left: 50%;
  right: 190px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.copy {
  position: absolute;
  /* top: 120%; Appears just below the icon */
  right: 0;
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copy span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
  font-family: "Inter";
  cursor: pointer;
}

/*Buttons*/

.pageButtons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.back,
.next,
.pageButton {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid hsla(220, 17%, 93%, 1);
  color: hsla(0, 0%, 17%, 0.8);
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  cursor: pointer;
  border-radius: 4px;
}

.pageButton:hover,
.next:hover,
.back:hover {
  background-color: hsla(34, 94%, 54%, 1);
  color: white;
  border-radius: 4px;
}

/* .next {
} */

.mobiletransaction {
  display: none;
}

.back2 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter";
  cursor: pointer;
  width: fit-content;
}

.back2 svg {
  transform: rotate(180deg);
}

.container2 {
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.container2 hr {
  border: 1px solid hsla(0, 0%, 96%, 1);
}

.viewmore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 63px 48px 40px;
}

.more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.more span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  color: hsla(324, 3%, 37%, 1);
}

.more h2 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  color: hsla(0, 0%, 26%, 1);
  margin: 0;
}

.container3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 40px;
  font-family: "Inter";
  border-bottom: 2px solid hsla(0, 0%, 96%, 1);
}

.container3 div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container3 div span {
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 26%, 1);
}

.container3 div p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  color: hsla(0, 0%, 26%, 0.8);
}

.container3 > span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: hsla(324, 3%, 37%, 1);
}

:global(.Toastify__toast-icon svg) {
  fill: hsla(34, 94%, 54%, 1) !important;
}

:global(.Toastify__progress-bar--success) {
  background: hsla(34, 94%, 54%, 1) !important;
}

@media only screen and (max-width: 768px) {
  .transaction {
    left: 0;
    background-color: white;
  }

  .time {
    position: relative;
  }

  .mobiletransaction {
    display: block;
    position: absolute;
    width: -webkit-fill-available;
    top: 80px;
    background-color: hsla(0, 0%, 96%, 1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .mobiletransaction > span {
    font-size: 22px;
    font-weight: 600;
    color: hsla(0, 0%, 17%, 0.8);
    font-family: "Inter";
    margin-top: 30px;
  }

  .log {
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
  }

  .dropdownTime {
    top: -30%;
    right: 285px;
    left: 0;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 0;
  }

  .table::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 24px 0;
    background-color: white;
    border: 1px solid hsla(180, 11%, 89%, 1);
    width: 84%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }

  .seeMore {
    border: 0;
    background-color: transparent;
    border-top: 1px solid hsla(180, 11%, 89%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: hsla(34, 94%, 54%, 1);
    font-family: "Inter";
  }

  .seeLess {
    margin-top: 315px;
    border: 0;
    background-color: transparent;
    border-top: 1px solid hsla(180, 11%, 89%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: hsla(34, 94%, 54%, 1);
    font-family: "Inter";
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .header div label,
  .more label {
    font-size: 12px;
    font-weight: 500;
    color: hsla(0, 0%, 17%, 0.65);
    font-family: "Inter";
  }

  .header img {
    position: relative;
  }

  .header div span,
  .more span {
    font-size: 12px;
    font-weight: 500;
    color: hsla(0, 0%, 17%, 0.8);
    font-family: "Inter";
  }

  .dropdown {
    top: 15%;
    right: 20px;
  }

  .moreInfo {
    position: absolute;
    margin-top: 35px;
    width: -webkit-fill-available;
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid hsla(180, 11%, 89%, 1);
    padding: 16px;
  }

  .container2 {
    border: 1px solid hsla(218, 20%, 95%, 1);
  }

  .viewmore {
    align-items: baseline;
    gap: 10px;
    padding: 16px;
    border: 1px solid hsla(218, 20%, 95%, 1);
  }

  .more {
    flex-direction: column;
    align-items: baseline;
    border: none;
    padding: 0;
  }

  .container3 {
    padding: 16px;
    margin-top: 25px;
  }

  .tableHeader {
    width: -webkit-fill-available;
    height: 450px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}
