/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.footer {
  background: linear-gradient(180deg, rgb(67, 24, 73), hsla(304, 32%, 11%, 1));
  color: #ffffff;
  padding: 60px 100px;
  font-family: 'Lato', sans-serif;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 100px;
}

.contactItem {
  display: flex;
  align-items: left;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 18px;
  padding-top: 20px;
}

.contactItem p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  width: 323px;
}

.yellowLine {
  width: 1200px;
  height: 3px;
  background-color: #F89A1C;
  margin-bottom: 35px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 40px;
}

.footerSection {
  flex: 1;
  min-width: 250px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sectionQuick {
  margin-bottom: 35px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  vertical-align: middle;
}

.sectionQuickLinks {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.sectionStay {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo {
  height: 40px;
  margin-bottom: 15px;
  padding-top: 20px;
}

.description {
  color: #FFFFFF;
  max-width: 300px;
  font-family: Lato;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.subscriptionBox {
  display: flex;
  width: 380px;
  height: 60px;
  margin-top: 12px;
}

.subscriptionInput {
  flex: 1;
  padding: 12px 15px;
  border: none;
  font-size: 15px;
  outline: none;
}

.subscriptionInput::placeholder {
  color: #9F9FA6;
}

.subscriptionButton {
  background-color: #f89a1c;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 169%;
  letter-spacing: 0%;

}

.subscriptionButton:hover {
  background-color: #e08815;
}

.socialSection {
  text-align: center;
  margin-bottom: 30px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.socialIcon {
  width: 32px;
  height: 32px;
  transition: opacity 0.3s ease;
}

.socialIcon:hover {
  opacity: 0.7;
}

.footerBottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #6a1e78;
  font-size: 14px;
  color: #c2c2c2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* Mobile Section */

@media (max-width: 768px) {
  .footer {
    padding: 30px 26px;
    height: auto;
  }

  /* Contact Section (Location, Contact, Work Hours) */
  .topSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 30px;
  }

  .contactItem {
    font-size: 18px;
    flex-direction: row;
    align-items: flex-start;
  }

  .icon {
    width: 24px;
    height: 30px;
    margin-right: 12px;
  }

  .contactItem p {
    padding-right: 12px;
    width: 190px;
    line-height: 130%;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  /* Yellow line */
  .yellowLine {
    width: 100%;
    height: 2px;
    margin: 20px 0;
  }

  /* Footer content */
  .footerContent {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  .footerSection {
    min-width: 100%;
  }

  .description {
    max-width: 100%;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0%;
  }

  /* Quick Links */
  .sectionQuick {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .sectionQuickLinks {
    font-size: 15px;
  }

  /* Stay Connected */
  .sectionStay {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .subscriptionBox {
    display: flex;
    width: 324px;
    height: 56px;
    margin-top: 12px;
  }

  .subscriptionInput {
    width: 192px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 0px;
  }

  .subscriptionButton {
    width: 119px; /* Matches UI design */
    height: 46px; /* Matches UI design */
    font-family: 'Lato';
    font-weight: 500;
    font-size: 17px;
    border-radius: 0px;
  }

  /* Social section */
  .socialSection {
    margin-top: 20px;
    margin-bottom: 200px;
    text-align: center;
  }

  /* .socialIcons {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 12px;
  } */

  .socialIcon {
    width: 32px;   /* make them slightly bigger for visibility */
    height: 32px;
    /* filter: brightness(0) invert(1); */
  }

  /* Footer bottom */
  .footerBottom {
    color: #FFFFFF;
  }

  .footerCopy {
    display: block;
    padding-top: 50px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
  }
}
