/** @format */

.dropdown {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.adduser {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  border-radius: 8px;
  padding: 16px 40px;
  align-items: end;
}

.adduser svg {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.container h3 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: rgba(248, 154, 28, 1);
  font-weight: 600;
}

.container > span {
  font-weight: 400;
  color: rgba(51, 47, 50, 1);
  width: 55%;
  text-align: center;
}

.div1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 15px;
}

.email {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 47, 50, 1);
  position: relative;
}

.email2 {
  display: grid;
  align-items: center;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(51, 47, 50, 1);
  position: relative;
}

.email input,
.role {
  padding: 14px 24px;
  border: 1px solid rgba(204, 196, 200, 1);
  width: 230px;
  font-family: "Inter";
  border-radius: 4px;
}

.email input:focus {
  outline: none;
}

.email input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(204, 196, 200, 1);
}

.role {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container button {
  width: 50%;
  margin-top: 20px;
  padding: 14px;
  background-color: rgba(248, 154, 28, 1);
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: "Inter";
  cursor: pointer;
}

.addrole {
  position: absolute;
  margin-top: 180px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-left: 125px;
  width: 50%;
  gap: 16px;
  box-shadow: 0px 4px 7px hsla(0, 0%, 0%, 0.02);
}

.addrole2 {
  position: absolute;
  margin-top: 180px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-left: 0px;
  width: 85%;
  gap: 16px;
  box-shadow: 0px 4px 7px hsla(0, 0%, 0%, 0.02);
}

.addrole span,
.addrole2 span {
  cursor: pointer;
  font-weight: 400;
  color: rgba(54, 46, 53, 1);
}

.container button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(175, 175, 175, 1);
  cursor: not-allowed;
}

.toast :global(.Toastify__toast-theme--light) {
  background-color: rgba(0, 200, 81, 1) !important;
  color: white !important;
  font-family: "Inter";
}

.toast :global(.Toastify__progress-bar--animated) {
  display: none;
}

.toast :global(.Toastify__toast-icon svg) {
  fill: white;
}

.toast :global(.Toastify__close-button > svg) {
  color: white;
}

.toast :global(.Toastify__close-button--light) {
  color: white;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .adduser > svg {
    display: none;
  }

  .adduser {
    padding: 24px;
    width: 312px;
    align-items: center;
  }

  .email {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .container h3 {
    font-size: 16px;
  }

  .container > span {
    color: rgba(51, 47, 50, 1);
    width: 81%;
    font-size: 14px;
  }

  .container button {
    width: 80%;
  }

  .addrole {
    margin-left: 0;
    width: 80%;
  }

  .div1 {
    gap: 16px;
  }
}
