/** @format */
/* Reset default margins and ensure full height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Hide scrollbar for all elements while allowing scrolling */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and other WebKit browsers */
}

/* Optional stronger safeguard */
/* index.css or global.css */
html,
body {
  overflow-x: hidden;
  width: 100%; /* prevent accidental overflow */
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(245, 245, 245);
  }
}
